.dropdown {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 8vh 13vw;
}

.orderByText {
  font-weight: 500;
  color: #333;
  font-size: 14px;
  line-height: 1.7;
  margin-right: 6px;
  font-family: var(--font-p);
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.1s;
}

.dropdown-toggle img {
  transition: transform 0.1s ease-out;  /* Adiciona uma transição suave para a transformação do ícone */
}

.dropdown-toggle:hover {
  color: #3e88f9;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  display: none;
  flex-direction: column;
}

.dropdown-menu.open {
  display: block;
  margin-top: -20px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
}

.option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 2px;
  text-align: left;
}

.option:hover {
  background-color: #f0f0f0;
  color: #3e88f9;
  border-left: 5px solid #3e88f9;
}
