.priceFilterContainer {
  display: flex;
  flex-direction: column;
}

.filterTitle {
  font-weight: 500;
  color: #333;
  font-size: 16px;
  font-family: var(--font-p);
}

.rangeList {
  padding: 0;
}

.rangeList p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0;
  text-decoration: none;
  line-height: 10px;
}

.rangeList a {
  text-decoration: none;
}

.rangeQuantity {
  color: #999;
  margin-left: 6px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  width: 70px;
  padding: 5px;
  padding-left: 10px;
  background-color: #fafafa;
  border: 1px solid #777;
  border-radius: 6px;
}

.separator {
  margin: 0 10px;
  color: #777;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
