.productsListContainer {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 8vh 13vw;
}

.productCard {
  border-radius: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray-meli);
}

.productImage {
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.productInfos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.productName {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  max-width: 500px;
  cursor: pointer;
}

.shippingContainer {
  display: flex;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
}

.shippingContainer p {
  cursor: pointer;
}

.freeShippingIcon {
  margin-left: 10px;
}

.productInstallmentInfoText {
  color: green;
}

.productLocation {
  font-size: 12px;
  text-align: end;
}

.productCardBox {
  display: flex;
  justify-content: flex-start;
}

.productAndImageContainer {
  display: flex;
}

@media (max-width: 768px) {
  .productImage {
    width: 100%;
    max-width: 250px;
  }

  .productImage img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
  }

  .productAndImageContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .productInfos {
    align-items: center;
    
  }

  .productName {
    max-width: none;
    text-align: center;
  }

  .productCardBox {
    justify-content: center;
  }

  .productInstallmentInfoText{
    text-align: center;
  }
}

